[Desktop Entry]
Name=gparted
Name[es]=gparted
Name[pt_BR]=gparted
Comment=Partitioning
Comment[es]=Particionamento
Comment[pt_BR]=Particionador
Exec=bigsudo gparted
Icon=gparted
Categories=System