[Desktop Entry]
Name=kate
Name[es]=kate
Name[pt_BR]=kate
Comment=Partitioning
Comment[es]=Particionamento
Comment[pt_BR]=Particionador
Exec=kate
Icon=kate
Categories=System
