[Desktop Entry]
Name=Shortcuts
Name[es]=Atajos
Name[pt_BR]=Atalhos
Comment=Keyboard shortcuts
Comment[es]=Atajos de teclado
Comment[pt_BR]=Atalhos de teclado
Exec=kcmshell4 --icon preferences-system keys khotkeys standard_actions
Icon=preferences-system
Categories=Desktop