<!-- styles -->
<style type="text/css">
    #content { margin: 10px; }
</style>
<!-- /styles -->


<!-- show html  -->
<section id="content"></section>
<!-- /show html -->


<!-- templates -->
<script id="template-group" type="x-tmpl-mustache">
    <div class="ui raised segment">
        <div class="ui ribbon teal label">{{ group_title }}</div>
            {{ apps }}
        </div>
    </div>
</script>
<script id="template-app" type="x-tmpl-mustache">
    <div class="ui segment kde app">
        <a href="{{ link_app }}"><img src="{{ image_app }}" class="ui image" /></a>
        {{ nome_app }}
    </div>
</script>
<!-- /templates -->

<!-- scripts -->
<script type="text/javascript">
    var apps = Pyjs.getApps();
    apps = eval('(' + apps + ')');

    var size_apps = apps.length;
    for(var i=0; i<size_apps; i++){
        console.log(apps[i]);
    }

</script>
<!-- /scripts -->